<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block title %}
login
{% endblock %}

{% block content %}
<h1>Login</h1>
<h4>This is login page </h4>
<form method="POST">
  {% csrf_token %}
<form>
  <div class="mb-3">
    <label class="form-label">User name</label>
    <input type="text" class="form-control" name="u" placeholder=" Enter User name">
  </div>
       <label class="form-label">Password</label>
    <input type="password" class="form-control" name="p" placeholder=" Enter password">
  </div><br>
     <button type="submit" class="btn btn-primary">Submit</button>
</form>
</form>
{% endblock %}
